<div class="form-wrapper">
  <h1 style=" color: #666">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-item field">
      <label for="email"></label>
      <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
    </div>
    <div class="form-item field">
      <label for="password"></label>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <div class="button-panel actions">
      <%= f.submit "Log in",  class:"button" %>
    </div>
  </form>
  <div class="form-footer">
    <p><a href="#">Create an account</a></p>
  </div>
  <% end %>
</div>
<div style=" height: 200px"></div>

<%= render "admins/shared/links" %>
