<div class="shopping">
	<nav class="shopping-box clearfix">
		<h3 class="toptext"><i class="fa fa-shopping-cart" aria-hidden="true"></i> ショッピングカート</h3>

		<div class="content-box clearfix">
			<div class="cart">
				<table width="100%">
					<tbody>
						<% @carts.each do |cart| %>
							<tr>
								<td width="30%">
									<%= link_to product_path(cart.id) do %>
										<%= attachment_image_tag cart.product, :image, class:"product-img" %>
									<% end %>
								</td>
								<td width="25%">
									<p><%= cart.product.artist_name %></p>
									<p><%= cart.product.product_name %></p>
									<p><%= cart.product.price.to_s(:delimited) %> 円</p>
								</td>
								<td width="10%">
									<p><%= cart.quantity %> 枚</p>
								</td>
								<td width="20%">
									<p>小計 <%= cart.price.to_s(:delimited) %> 円</p>
								</td>
								<td width="15%">
									<p>削除</p>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="order">
				<%= link_to "注文を確定する", orders_path, :method => 'post', class:"order-btn", "data-confirm" => "注文を確定しますか？" %>
				<div class="order-all clearfix">
					<p class="order-all-text">小計</p>
					<p class="order-all-price"><%= @total_price.to_s(:delimited) %> 円</p>
				</div>
			</div>
		</div>

	</nav>
</div>