<div class="panel panel-default container" style="background-color: #f5f5f5; margin-top: 80px;">
		<p id="notice" style="color: red;"><%= flash[:notice] %></p>
		<div class="panel-heading" style="background-color: #f5f5f5;">
			<h3>商品情報編集</h3>
		</div>
		<div class="panel-body" style="background-color: white;">
			<%= form_for(@pro, url: admin_product_path, html: {class: 'form-horizontal'}) do |f| %>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">アーティスト名</label>
					<div class="col-sm-10">
						<%= f.text_field :artist_name, id:"InputText", class:"form-control", placeholder:"アーティスト名を入力して下さい。" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">シングル/アルバム名</label>
					<div class="col-sm-10">
						<%= f.text_field :product_name, id:"InputText", class:"form-control", placeholder:"シングル/アルバム名を入力して下さい。" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">発売日</label>
					<div class="col-sm-3">
						<%= f.date_field :release_date, id:"InputText", class:"form-control" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputFile">ジャケット画像</label>
					<div class="col-sm-10">
						<%= f.attachment_field :image, id:"InputFile" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">値段</label>
					<div class="col-sm-2">
						<div class="input-group">
							<span class="input-group-addon">￥</span>
							<%= f.number_field :price, class:"form-control input-sm" %>
						</div>
					</div>
					<p class="form-control-static">(半角数字)</p>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">レーベル名</label>
					<div class="col-sm-10">
						<%= f.text_field :label, id:"InputText", class:"form-control", placeholder:"レーベル名を入力して下さい。" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputSelect">ジャンル</label>
					<div class="col-sm-10">
						<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {} ,{:class => "form-control genre-area"} %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">Disc名</label>
					<div class="col-sm-10">
						<div>
						<%= f.fields_for :discs do |b| %>
								<%= b.number_field :disc_number, class:"form-control input-sm discnumber", placeholder:"1",style:"margin-top: 10px;" %>
								<%= b.text_field :disc_name, id:"InputText", class:"form-control input-sm discname", placeholder:"Disc1" %>
								<div>
									<%= b.fields_for :musics do |m| %>
										<%= m.number_field :music_number, class:"form-control input-sm ", placeholder:"曲番", style:"width: 80px; display: inline-block; margin: 5px 0 0 30px;" %>
										<%= m.text_field :music_name, id:"InputText", class:"form-control input-sm", placeholder:"曲名", style:"width: 300px; display: inline-block; margin: 5px 0 0 5px;" %>
										<%= m.time_field :music_time, class:"form-control input-sm", style:"width: 100px; display: inline-block; margin: 5px 5px 0 5px;" %>
										<input style="display: inline-block;" type="button" class="remove" value="削除"><br>
									<% end %>
								</div>
						<% end %>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputTextarea">CD情報</label>
					<div class="col-sm-10">
						<%= f.text_area :info, id:"InputText", class:"form-control", placeholder:"CD情報を入力して下さい。", rows:"8" %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="InputText">在庫数</label>
					<div class="col-sm-1">
						<%= f.number_field :stock, class:"form-control" %>
					</div>
					<p class="form-control-static">個 (半角数字)</p>
				</div>
				<%= f.submit '編集を完了する', class:"btn btn-primary center-block" %>
			<% end %>
		</div>
		<div class="panel-footer" style="background-color: #f5f5f5;">
		</div>
</div>
