<!-- 検索フォーム -->
<div class="container clearfix">
	<%= form_tag products_path, :method => 'get', class:"input-group input-group-sm search pull-right" do %>
		<%= text_field_tag :search, params[:search], class:"form-control", placeholder:"キーワード" %>
		<span class="input-group-btn">
			<%= submit_tag "検索", class:"btn btn-default" %>
		</span>
	<% end %>
</div>
<!-- 検索フォーム -->

<div id="body" class="contents clearfix">

<!-- ジャンル部分 -->
	<section class="leftcontent">
		<section id="genrelist">
			<h2>ジャンル</h2>
			<ul class="lists">
				<% @genres.each do |genre| %>
					<li>
						<%= link_to genre_path(genre) do %>
							<%= genre.genre_name %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</section>
    </section>

	<!-- 商品一覧 -->
    <div id="rightcontent" style="margin-top: 20px;">
		<article>
			<section id="productlist">
				<h1 style="text-align:  left;margin:  0;padding-top:  0;color:  #fff;">商品一覧</h1>
			</section>
			<section id="product">
				<div id="productlistblock" class="clearfix">
					<ul id="productlists" class="clearfix">

					<% @products.each do |product| %>

						<li>
							<div class="listinner">
								<p class="thumb">
									<%= link_to product_path(product.id) do %>
									<%= attachment_image_tag product, :image %>
									<% end %>
								</p>
								<div style="color: #fff">
									<p class="musicname"><%= link_to product.product_name, product_path(product.id), {:style=>'color:#fff'} %></p>
									<p class="artists"><%= product.artist_name %></p>
									<p class="price">¥<%= product.price %> (税込)</p>
								</div>
							</div>
						</li>

					<% end %>

					</ul>
				</div>
			</section>

		<%= paginate @products, class: "pagenate" %>

		</article>
   </div>
</div>