<!-- 検索フォーム -->
<div class="container clearfix">
	<%= form_tag products_path, :method => 'get', class:"input-group input-group-sm search pull-right" do %>
		<%= text_field_tag :search, params[:search], class:"form-control", placeholder:"キーワード" %>
		<span class="input-group-btn">
			<%= submit_tag "検索", class:"btn btn-default" %>
		</span>
	<% end %>
</div>
<!-- 検索フォーム -->

<div id="body" class="contents clearfix">

<!-- ジャンル部分 -->
	<section class="leftcontent">
		<section id="genrelist">
			<h2>ジャンル</h2>
			
			<ul class="lists">
				<li><a href="#">J-POP</a></li>
				<li><a href="#">ロック＆ポップス</a></li>
				<li><a href="#">ヒップホップ</a></li>
				<li><a href="#">クラブ/ダンス</a></li>
				<li><a href="#">ハードロック/メタル</a></li>
				<li><a href="#">レゲエ</a></li>
				<li><a href="#">JAZZ</a></li>
				<li><a href="#">ブルース</a></li>
				<li><a href="#">演歌/民謡</a></li>
				<li><a href="#">クラシック</a></li>
			</ul>
		</section>
    </section>

	<!-- 商品一覧 -->
    <div id="rightcontent">
		<article>
			<section id="productlist">
				<h1>商品一覧</h1>
			</section>
			<section id="product">
				<div id="productlistblock" class="clearfix">
					<ul id="productlists" class="clearfix">

					<% @products.each do |product| %>

						<li>
							<div class="listinner">
								<p class="thumb">
									<%= link_to product_path(product.id) do %>
									<%= attachment_image_tag product, :image %>
									<% end %>
								</p>
								<div>
									<p class="musicname", style="color: #3d3d3e"><%= link_to product.product_name, product_path(product.id) %></p>
									<p class="artists"><%= product.artist_name %></p>
									<p class="price">¥<%= product.price %> (税込)</p>
								</div>
							</div>
						</li>

					<% end %>

					</ul>
				</div>
			</section>

		<%= paginate @products, class: "pagenate" %>

		</article>
   </div>
</div>