<!DOCTYPE html>
<html>
  <head>
    <title>SpiralDisc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: none">
    <header class="navbar navbar-fixed-top header-color">
      <div class="container">
        <span>
            <a class="" href="#"><img style="display: inline-block;" src="/logo.png" alt="" class="logo"></a>
          </span>
          <ul class="nav pull-right nav-pills" style="font-size: 14px">
            <% if admin_signed_in? %>
              <li class="nav">
                <%= link_to "商品一覧", admin_products_path, class:"nav" %>
              </li>
              <li class="nav">
                <%= link_to '新規出品', new_admin_product_path, class:"nav" %>
              </li>
              <li class="nav">
                <%= link_to "ユーザ一覧", admin_users_path, class:"nav" %>
              </li>
              <li class="nav">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav" %>
              </li>
            <% else %>
              <li class="nav">
              </li>
            <% end %>
          </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="container-fluid">
        <div class="container">
          <ul class="list-inline">
            <li><a href="" title="" class=""> About</a></li>
            <li><a href="" title="" class=""> 利用規約</a></li>
            <li><a href="" title="" class=""> お問い合わせ</a></li>
          </ul>
        </div>
          <small>
            <span>
            <a class="" href="#"><img src="/logo.png" alt="" class="logo"></a>
          </span>
          </small>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
