<!DOCTYPE html>
<html>
  <head>
    <title>SpiralDisc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar header-color">
    <div class="container">
      <div class="">
        <%= link_to image_tag('logo.png'), products_path %>
      <ul class="nav nav-pills pull-right", style="color: #fff">
      <!-- user -->
        <% if user_signed_in?%>
          <li class="nav">
            <%= current_user.name %>
          </li>
          <li class="nav">
            <%= link_to "My page", user_path(current_user.id) %>
          </li>
          <li class="nav">
            <%= link_to "Cart", user_cart_index_path(current_user.id) %>
          </li>
          <li class="nav">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>

      <!-- guest -->
        <% else %>
          <li class="nav">
            <p style="padding: 10px 15px;, margin: 0;">"こんにちは,ゲスト様"</p>
          </li>
          <li class="nav">
            <%= link_to "Login", user_session_path %>
          </li>
          <li class="nav">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
    </header>

    <%= yield %>

    <footer class="container-fluid">
      <small><%= link_to image_tag('logo.png'), products_path %></small>
      <p style="color: #fff">@Spiral-Boys<%= link_to ".",  admin_session_path %></p>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
