<div class="form-wrapper", style="height: 100%">
  <h1 style="color: #3d3d3e">LOGIN</h1>
  <div class="form-item">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder:"メールアドレス" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>
    <div class="button-panel">
      <%= f.submit "Login", class: :button %>
    </div>
  <% end %>

    <div class="form-footer">
      <p>
      <%= link_to "Create an account", new_user_registration_path %>
      </p>
    </div>
  </div>
</div>


